<!--[if IE 8]><!DOCTYPE html><html dir="ltr"lang="ko-KR" class="ie8 lte-ie9 lte-ie8"><![endif]-->
<!--[if IE 9]><!DOCTYPE html><html dir="ltr"lang="ko-KR" class="ie9 lte-ie9"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><!DOCTYPE html><html dir="ltr" lang="ko-KR" class="gte-ie10"><!--<![endif]-->
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>layout guide</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta property="og:type" content="website" />
    <meta property="og:title" content="페이지 제목" />
    <meta property="og:description" content="페이지 설명" />
    <meta property="og:image" content="example.jpg" />
    <meta property="og:url" content="http://gamin.sateam.co.kr/" />
		<link rel="stylesheet" href="/common/style/default.css">
		<link rel="stylesheet" href="/common/style/guide.css">
		<link rel="stylesheet" href="/common/style/NotoSansKR.css">
		<style type="text/css">
			/**/
			body{background-color:#e5e5e5;}
			.wrap{max-width:1280px;margin:0 auto;padding:8px;background-color:#ffffff;box-shadow:0px 2px 5px rgba(0,0,0,.1);font-size:0;}

		</style>
	</head>
	<body>
		<div class="wrap">
			<form>
				<div class="box-tableform">
					<table>
						<colgroup>
							<col class="col1">
							<col >
						</colgroup>
						<tbody>
							<tr>
								<th scope="row"><label for="idWrite">아이디</label><em class="bul-must">필수 입력</em></th>
								<td>
									<div class="box-input">
										<input type="text" class="input-id require" id="idWrite" rows="5">
										<button type="button" class="btn-gray-small">중복확인</button>
									</div>
									<ins>5~20자의 영문 소문자, 숫자와 특수기호(_),(-)만 사용 가능합니다.</ins>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="passwordWrite">비밀번호</label><em class="bul-must">필수 입력</em></th>
								<td>
									<div class="box-input">
										<input type="password" class="input-password" id="passwordWrite">
									</div>
									<ins>8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.</ins>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="">이름</label><em class="bul-must">필수 입력</em></th>
								<td>
									<div class="box-input">
										<input type="text" class="input-name">
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">성별<em class="bul-must">필수 입력</em></th>
								<td>
									<div class="box-input fluid-item-column">
										<label for="female"><input type="radio" name="sex" id="female">여성</label>
										<label for="male"><input type="radio" name="sex" id="male">남성</label>
									</div>
									<div class="box-input fluid-button">
										<input type="radio" name="sex" data-text="여성">
										<input type="radio" name="sex" data-text="남성">
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="">이메일</label></th>
								<td>
									<div class="box-input">
										<input type="text" class="input-email-fluid">
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="emailAgree">이메일 수신</label></th>
								<td>
									<div class="box-input">
										<label for="emailAgree"><input type="checkbox" id="emailAgree">수신동의</label>
										<small>이메일에 수신 동의하시면 문의에 대한 답변 및 코웨이에서 제공하는 다양한 혜택을 알려드리는 뉴스레터, 이벤트 정보를 받아보실 수 있습니다.</small>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="phoneWrite">휴대전화</label><em class="bul-must">필수입력</em></th>
								<td>
									<div class="box-input">
											<span class="box-select">
												<select class="select-phone" title="휴대전화 앞자리 선택">
														<option>010</option>
														<option>016</option>
														<option>011</option>
														<option>018</option>
														<option>019</option>
														<option>017</option>
												</select>
											</span>
											<span class="hyphen"></span>
											<input type="tel" class="input-phone" id="txtPhone" maxlength="4">
											<span class="hyphen"></span>
											<input type="tel" class="input-phone" id="txtPhoneLast" maxlength="4">
											<button type="button" class="btn-gray-small">인증번호 받기</button>
									</div>
									<div class="box-input">
											<input type="tel" class="input-phone-fluid" maxlength="11" placeholder="-없이 입력" id="phoneWrite">
											<button type="button" class="btn-gray-small">인증번호 받기</button>
									</div>
									<div class="box-input-flex">
										<input type="tel" class="input-phone-fluid" maxlength="11" placeholder="-없이 입력" id="phoneWrite">
										<button type="button" class="btn-gray-small">인증번호 받기</button>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="smsAgree">SMS수신</label></th>
								<td>
									<div class="box-input">
										<label for="smsAgree"><input type="checkbox" id="smsAgree">수신동의</label>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="addressWrite">주소</label><em class="bul-must">필수입력</em></th>
								<td>
									<div class="box-input">
											<input type="text" disabled title="우편번호 첫 자리" class="input-zip">
											<span class="hyphen"></span>
											<input type="text" disabled title="우편번호 끝 자리" class="input-zip">
											<button type="button" class="btn-gray-small">우편번호 찾기</button>
									</div>
									<div class="box-input-flex">
										<input type="text" disabled title="우편번호 첫 자리" class="input-zip">
										<span class="hyphen"></span>
										<input type="text" disabled title="우편번호 끝 자리" class="input-zip">
										<button type="button" class="btn-gray-small">우편번호 찾기</button>
									</div>
									<div class="box-input">
											<input type="text" class="input-address" maxlength="300" disabled>
									</div>
									<div class="box-input">
											<input type="text" class="input-address" placeholder="세부 주소(동,호수 등)를 입력해 주세요" maxlength="300" id="addressWrite">
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">기타<br/> 라디오버튼</th>
								<td>
									<div class="box-input fluid-item-row">
										<label><input type="radio" name="etc">가타다</label>
										<label><input type="radio" name="etc">나가나다가라마 https://www.youtube.com/watch?v=JGwWNGJdvx8&list=RDCevxZvSJLk8&index=25</label>
										<label><input type="radio" name="etc">가타다</label>
										<label><input type="radio" name="etc">마바사</label>
										<label><input type="radio" name="etc">마바사</label>
									</div>
									<div class="box-input fluid-button">
										<input type="radio" name="etc" data-text="가타다">
										<input type="radio" name="etc" data-text="마바사 나가나다가라마">
										<input type="radio" name="etc" data-text="가타다">
										<input type="radio" name="etc" data-text="마바사">
										<input type="radio" name="etc" data-text="가타다">
										<input type="radio" name="etc" data-text="마바사">
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">기타<br/> 체크박스</th>
								<td>
									<div class="box-input fluid-item-column">
										<label><input type="checkbox" name="etc">가타다</label>
										<label><input type="checkbox" name="etc">마바사</label>
										<label><input type="checkbox" name="etc">마바사</label>
									</div>
									<div class="box-input fluid-item-row">
										<label><input type="checkbox" name="etc">가타다</label>
										<label><input type="checkbox" name="etc">나가나다가라마 https://www.youtube.com/watch?v=JGwWNGJdvx8&list=RDCevxZvSJLk8&index=25</label>
										<label><input type="checkbox" name="etc">가타다</label>
										<label><input type="checkbox" name="etc">마바사</label>
										<label><input type="checkbox" name="etc">마바사</label>
									</div>
									<div class="box-input fluid-button">
										<input type="checkbox" name="etc" data-text="가타다">
										<input type="checkbox" name="etc" data-text="마바사 나가나다가라마">
										<input type="checkbox" name="etc" data-text="가타다">
										<input type="checkbox" name="etc" data-text="마바사">
										<input type="checkbox" name="etc" data-text="가타다">
										<input type="checkbox" name="etc" data-text="마바사">
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="multiWrite">Multi-line fields</label></th>
								<td>
									<div class="box-input">
											<textarea name="name" id="multiWrite" class="input-textarea"></textarea>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">가격</th>
								<td>
									<div class="box-input">
											<input type="text" class="input-prefix">
											<span class="unit-prefix">￦</span>
									</div>
									<div class="box-input">
											<input type="text" class="input-suffix-right">
											<span class="unit-suffix">원</span>
									</div>
									<div class="box-input-flex">
										<span class="unit-prefix">￦</span>
										<input type="text" class="input-prefix">
									</div>
									<div class="box-input-flex">
											<input type="text" class="input-suffix-right">
											<span class="unit-suffix">원</span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>

					<div class="box-btn-flex">
						<button type="button" class="btn-gray-large">취소하기</button>
						<button type="button" class="btn-blue-large">가입하기</button>
					</div>
				</div>
			</form>
		</div>

		<script src="/common/js/jquery-3.3.1.min.js" type="text/javascript"></script>
		<script type="text/javascript">
		$(function(){

		});
		</script>
	</body>
</html>
