<!--[if IE 8]><!DOCTYPE html><html dir="ltr"lang="ko-KR" class="ie8 lte-ie9 lte-ie8"><![endif]-->
<!--[if IE 9]><!DOCTYPE html><html dir="ltr"lang="ko-KR" class="ie9 lte-ie9"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><!DOCTYPE html><html dir="ltr" lang="ko-KR" class="gte-ie10"><!--<![endif]-->
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>Selection controls guide</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta property="og:type" content="website" />
    <meta property="og:title" content="페이지 제목" />
    <meta property="og:description" content="페이지 설명" />
    <meta property="og:image" content="example.jpg" />
    <meta property="og:url" content="http://gamin.sateam.co.kr/" />
		<link rel="stylesheet" href="/common/style/default.css">
		<link rel="stylesheet" href="/common/style/guide.css">
		<link rel="stylesheet" href="/common/style/NotoSansKR.css">
		<style type="text/css">
			/**/
			body{background-color:#e5e5e5;}
			.wrap-controls{max-width:680px;margin:0 auto;padding:8px;background-color:#ffffff;box-shadow:0px 2px 5px rgba(0,0,0,.1);font-size:12px;}
			.wrap-controls .box-input{padding:10px 20px;}
			.title-controls{padding:25px 20px 15px;opacity:.6;}
			.title-controls:not(:nth-of-type(1)){margin-top:30px;border-top:1px solid rgba(0,0,0,.1);}

		</style>
	</head>
	<body>
		<div class="wrap-controls">

			<h2 class="title-controls">Radio buttons</h2>
			<div class="box-input fluid-item-row">
				<label for="a"><input type="radio" name="a" id="a" checked>Line item selected</label>
				<small>Selection controls allow the user to select options.</small>
				<label for="b"><input type="radio" name="a" id="b">Line item unselected</label>
				<label for="c"><input type="radio" name="z" id="c" disabled checked>Line item unselected</label>
				<label for="d"><input type="radio" name="a" id="d" disabled>Line item unselected</label>
			</div>

			<h2 class="title-controls">Checkboxes</h2>
			<div class="box-input fluid-item-row">
				<label><input type="checkbox" name="b" checked>Line item selected</label>
				<label><input type="checkbox" name="b">Line item unselected</label>
				<label><input type="checkbox" name="b">Line item unselected</label>
				<label><input type="checkbox" name="b" disabled checked>Line item unselected</label>
				<label><input type="checkbox" name="b" disabled>Line item unselected</label>
			</div>

			<h2 class="title-controls">Switches</h2>
			<div class="box-input switch-row">
				<div class="item"><span>Line item on</span><input type="checkbox" name="switch" checked></div>
				<div class="item"><span>Line item off</span><input type="checkbox" name="switch"></div>
				<div class="item"><span>Line item on</span><input type="checkbox" name="switch" disabled checked></div>
				<div class="item"><span>Line item off</span><input type="checkbox" name="switch" disabled></div>
			</div>

			<h2 class="title-controls">Single item</h2>
			<div class="box-input">
				<label for="emailAgree"><input type="checkbox" id="emailAgree">수신동의</label>
				<small>이메일에 수신 동의하시면 문의에 대한 답변 및 코웨이에서 제공하는 다양한 혜택을 알려드리는 뉴스레터, 이벤트 정보를 받아보실 수 있습니다.</small>
			</div>

			<h2 class="title-controls">Range</h2>
			<form>
			<div class="box-input box-range" id="changeBg">
				<div class="item">
					<label for="R">R</label>
					<input type="range" min="0" max="255" step="1" value="0" name="rangeInputR" oninput="numberInputR.value=this.value" id="red"/>
					<input type="number" min="0" max="255" value="0" class="input-number-range" name="numberInputR" oninput="rangeInputR.value=this.value"/>
				</div>
				<div class="item">
					<label for="G">G</label>
					<input type="range" min="0" max="255" step="1" value="0" name="rangeInputG" oninput="numberInputG.value=this.value" id="green"/>
					<input type="number" min="0" max="255" value="0" class="input-number-range" name="numberInputG" oninput="rangeInputG.value=this.value"/>
				</div>
				<div class="item">
					<label for="B">B</label>
					<input type="range" min="0" max="255" step="1" value="0" name="rangeInputB" oninput="numberInputB.value=this.value" id="blue"/>
					<input type="number" min="0" max="255" value="0" class="input-number-range" name="numberInputB" oninput="rangeInputB.value=this.value"/>
				</div>
			</div>
			</form>

			<div class="box-input box-range">
				<input type="range" min="0" max="10" step="1" value="5" disabled/>
			</div>

		</div>

		<script src="/common/js/jquery-3.3.1.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(".item input[type='range']").on("input",function(){
				var red = document.getElementById("red").value,
						green = document.getElementById("green").value,
						blue = document.getElementById("blue").value;
				console.log(red,green,blue)
				document.getElementById("changeBg").style.background="rgb(" + red + "," + green + "," + blue + ")";
			});
		</script>
	</body>
</html>
