<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>title</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="-1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta property="og:type" content="website" />
    <meta property="og:title" content="페이지 제목" />
    <meta property="og:description" content="페이지 설명" />
    <meta property="og:image" content="example.jpg" />
    <meta property="og:url" content="http://gamin.sateam.co.kr/" />
		<link rel="stylesheet" href="/common/style/default.css">
		<link rel="stylesheet" href="/common/style/guide.css">
		<link rel="stylesheet" href="/common/style/NotoSansKR.css">
		<style type="text/css">
			/**/
		</style>
	</head>
	<body>
		<!-- content -->
		
		<script src="/common/js/jquery-3.3.1.min.js" type="text/javascript"></script>
		<script type="text/javascript">
		$(function(){

		});
		</script>
	</body>
</html>
